.complete_center{   
    height: 100vh;
    width: 100%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.jus_center{
    justify-content: center;
}
.flex{
    display: flex;
}
.red{
    background: red;
}